
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'node-type-' ~ content_type,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  <header>
    {{ title_prefix }}
    {% if ((not page) and (title is not empty)) %}
      <h2{{ title_attributes }}><a href="{{ url }}">{{ title }}</a></h2>
    {% endif %}
    {{ title_suffix }}
  </header>

  <div{{ content_attributes.addClass('content') }}>
    {# {{ content }} #}
    
    <div class="signup-question">
      What is your connection with EIT Digital?
    </div>

    <div class="signup-options">
      <div class="signup-option-item" id="master-option">Master</div>
      <div class="signup-option-item" id="phd-option">Doctorate</div>
      <div class="signup-option-item" id="employee-option">Employee</div>
      <a class="signup-option-item" href="{{ url('<front>') }}summer-school/register">Summer School</a>
      <a class="signup-option-item" href="{{ url('<front>') }}professional_school/register">Professional School</a>
      <a class="signup-option-item" href="{{ url('<front>') }}eit-friend/register">EIT Digital Friend</a>
    </div>

    <div id="master-suboption-anchor"></div>
    <div id="phd-suboption-anchor"></div>
    <div id="employee-suboption-anchor"></div>

    <div class="signup-suboption" id="master-suboption">
      <div class="signup-question">
        Current Master status?
      </div>
      <a href="{{ url('<front>') }}master-school/register" class="signup-option-item">Still studying</a>
      <a href="{{ url('<front>') }}master-school/register?alumni=alumni" class="signup-option-item">Graduate</a>
    </div>

    <div class="signup-suboption" id="phd-suboption">
      <div class="signup-question">
        Current PHD status?
      </div>
      <a class="signup-option-item" href="{{ url('<front>') }}doctoral-school/register">Ongoing</a>
      <a class="signup-option-item" href="{{ url('<front>') }}doctoral-school/register?phdalumni=phdalumni">Finished</a>
    </div>

    <div class="signup-suboption" id="employee-suboption">
      <div class="signup-question">
        Current employment status?
      </div>
      <a class="signup-option-item" href="{{ url('<front>') }}eit-employee/register">Current</a>
      <a class="signup-option-item" href="{{ url('<front>') }}eit-employee/register?employeealumni=employeealumni">Former</a>
    </div>
  </div>

  {% if display_submitted %}
    <footer>
      {{ content.field_tags }}
      {{ content.links }}
    </footer>
  {% endif %}

</article>
